
.most-famous-blog{
    padding: 70px;
}

.photo-frame {
    width: 472px;
    height: 500px;
 

}

.photo img {
    width: 100%;
    border-radius: 17px;

}

.photo-detail {
  
    width: 419px;
    position: absolute;

    height: 550px;
  
}

