.navbar-tag-container li a {
    font-size: 20px;

}

.teamInvictus {
    background-color: rgb(140, 240, 207);
    border-radius: 20px;
    transition: all 1s ease-out;
    ;
}

.teamInvictus:hover {
    background-color: rgb(46, 252, 183);

}